name:  ci

# ref. https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

permissions:
  contents: write

jobs:
  docs:
    name: docs
    runs-on: ubuntu-latest
    # Fails the CI build if there are documentation warnings.
    steps:
      - name: Remove unnecessary files
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - name: Install linker
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            gcc-multilib
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rustfmt, clippy
          override: true
      - name: Check Rust version
        run: rustc --version
      # or use "abelfodil/protoc-action@v1"
      # ref. https://github.com/hyperium/tonic/issues/1047#issuecomment-1222508191
      - name: Install protoc
        uses: arduino/setup-protoc@v1
        with:
          version: "3.x"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set env var 
        shell: bash
        run: export 'RUSTFLAGS=-D warnings'
      - name: Run doc tests
        shell: bash
        run: cargo doc --no-deps --all-features -p avalanche-consensus -p avalanche-types
